<html>
<head><title>Index of /</title></head>
<body bgcolor="white">
<h1>Index of /</h1><hr><pre>
{% for folder in nginx_folders %}
<a href="{{ folder }}"/>{{ folder }}/</a>
{% endfor %}
</pre><hr></body>
</html>